body{
    width: 100%;
    height: 100%;
    background-color: blue;
}

@media screen and (max-width:600px) {

    body{
        background-color: red;
    }
    #outer{
        grid-template-columns: repeat(2, 1fr);
    }

}

#outer{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.5em;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.child{
    background-color: #fff;
    border-radius: 15px;
    height: 200px;
}


.child1{
    height: auto;
    grid-row-start: 1;
    grid-row-end: 3;
}

.child5{
    grid-column-start: 3;
    grid-column-end: 5;
}