body{
    background-color: lightblue;
}

#outer{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(3, 33%);
    width: 80%;
    height: 600px;
    grid-gap: 1.5em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner{
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .2);
    font-size: 40px;
    
}

img{
    width: inherit;
    height: auto;
}
.one{
    grid-column-start: 1;
    grid-column-end: 5;
}


.two{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.three{
    grid-column-start: 3;
    grid-column-end: 5;
}

.inner:hover{
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
}

.inner:active{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
    transform: scale(0.99);
    border: 2px solid orange;
    transition: none;
}



@media screen and (max-width:600px) {
    #outer{
        grid-template-columns: auto;
    }

    .inner{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .one{
        background-color: coral;
    }
}