#container{
    margin-top: 150px;
    width: 1100px;
    margin-left: 100px;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#heading{
    color: #ef2e4c;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#page{
    /* margin-top: 35px; */
    display: flex;
    justify-content: space-evenly;
    width: 60px;
}

#page i{
    background-color: #c5c4c5;
    padding: 20px 20px;
    border-radius: 15px;
    margin-left: 15px;
}

#bottom{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 500px;
}

.cardTop{
    background-color: #f5f4f4;
    border-radius: 12px;
    width: 25rem;
    padding: 10px 40px 20px 40px;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

.quote{
    font-size: 60px;
    color: #ef2e4c;
    position: relative;
    margin-left: -20px;
}

.text{
    margin-top: -40px;
}

.cardBottom{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.img{
    width: 50px;
    height: 50px;
    background-color: #fab444;
    border-radius: 100%;
}

.nAC
{
    margin-left: 15px;
}

.company{
    font-size: 12px;
    color: rgba(00, 00, 00, .5);
}

.name{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}