*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.card{
    width: 230px;
    height: 450px;
    border: solid black 2px;
    padding: 0 20px;
    /* border-radius: 30px; */
    margin-left: 20px;
    box-shadow: 10px 10px 0 0 rgba(0,0,0,.5);
    text-align: center;
    transition: all 500ms ease-in-out;
}

.card i{
    margin-top: 15px;
    font-size: 80px;
}
.card h1{
    margin-top: 15px;
    font-size: 40px;
}

.card p{
    margin-top: 15px;
    font-size: 20px;
}

.card button{
    margin-top: 15px;
    background-color: #000;
    border-radius: 60px;
    color: white;
    padding: 10px 60px;
}

.card:hover{
    transform: scale(1.05);
    color: #fff;
    transition: transform 300ms ease-in-out;
}

.card:hover button{
    border:none;
    background-color: #fff;
}

#twitter:hover{
    background-color: #1DA1F2;
}

#instagram:hover{
    background-color: #E1306C;
}

#youtube:hover{
    background-color: #ff0000;
}

#twitter:hover button{
    color: #1DA1F2; 
}

#instagram:hover button{
    color: #E1306C;
}

#youtube:hover button{
    color: #ff0000;
}